extends layouts/main

block content
    div(id="container")
        div(id="generate")
            form(action=routes.home, method="POST")
                button(id="generateBtn") generate
            input(type="text", readonly="true", id='generateText', value=words)
        a(href=routes.addWords, id="addFwords") 
            button add F words
        div(id="report")
            h5 Did you get a strange words?
            form(action=routes.report, method="POST")
                input(type="hidden", id="reportWords", name="reportWords", value=words)
                button Report current words
        a(href=routes.login)
            button admin